* {
    font-family: 'Forum', cursive;
    list-style: none;
}
body {
    background-color: rgba(5,41,98,0.1);
}
.news-title {
    text-align: center;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    width: 30%;
    margin: 0 auto;
}
.news-title span {
    font-family: 'Oswald', sans-serif;
    padding-left: 100px;
}

table {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    margin-top: 50px;
}

th {
    font-size: 3em;
    background-color: rgba(5,41,98,0.9);
    color: white
}

tr:hover {
    background-color:rgba(5,41,98,0.9);
}
td {
    cursor: pointer;
    background-color: rgba(5,41,98,0.5);
    color: white;
    padding: 15px;
}

td, th {
    border: 1px solid rgba(5,41,98,0.5);
    font-size: 1.3em;
    text-align: center;
}

tr > td:nth-child(1), tr > td:nth-child(3)  {
    width: 200px;
}